<nav class="header">
  <h1 class="logo">logo</h1>
  <ul class="nav-menu">
  <% if public_signed_in? %>
    <div class="header_name">
    </div>
  <% end %>
    <li>About</li>
    <li>商品一覧</li>
    <li>新規登録</li>
    <li>ログイン</li>
  </ul>
</nav>