<nav class="header">
  <h1 class="header_logo">logo</h1>
  <% if public_signed_in? %>
    <div class="header_name">
    </div>
  <% end %>
  <div class="hedaer_navbar">
    <ul>
      <li>About</li>
      <li>商品一覧</li>
      <li>新規登録</li>
      <li>ログイン</li>
    </ul>
    <div class="header_search">
    </div>
  </div>
</nav>